<div class="container-fluid main login-page">
  <h2 class="tasks-title text-center">Create a new account.</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name )) do |f| %>
      <%= devise_error_messages! %>
      <div class="field">
        <div class="control-label"><%= f.label :email %></div>
        <div class="maybe-error"><%= f.email_field :email, autofocus: true, class: "form-control" %></div>
      </div>

      <div class="field">
        <div class="control-label">
          <%= f.label :password %>
          <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        </div>
        <div class="maybe-error"><%= f.password_field :password, autocomplete: "off", class: "form-control" %></div>
      </div>

      <div class="field">
        <div class="control-label"><%= f.label :password_confirmation%></div>
        <div class="maybe-error"><%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %></div>
      </div>

      <div class="actions">
        <div class="submit-button text-center"><%= f.submit "Sign up", class: "btn btn-success" %></div>
      </div>
  <% end %>
</div>