<div class="col-md-4 col-sm-6 col-xs-12 contact-form single-task wow fadeInRight animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
  <div class="panel panel-success">
    <div class="panel-heading text-center"><h4><%=task.title%></h4></div>
    <div class="panel-body">
      <h5 class="add-info"><span class="left-text"><%=task.get_email_person_share_task %><% unless task.get_email_person_share_task.empty? %> --> <%end%><%=task.user.email%></span><span class="right-text"><%=task.updated_at.strftime('%I:%M %d %b %Y')%></span></h5>
      <p class="task-description"><%=task.text%></p>
      <div class="task-buttons btn-group btn-group-justified">
        <%= link_to 'Share',task_share_path(id: task.id), {class:"btn btn-primary page-scroll sharebutton"}%>
        <% if (task.user_id == current_user.id || current_user.has_role?(:admin) )%>
            <%= link_to 'Edit', task_edit_path(id: task.id), {class:"btn btn-warning page-scroll"}%>
            <%= link_to 'Delete', task_destroy_path(id: task.id), class:"btn btn-danger page-scroll",
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %>
        <%end%>
      </div>
    </div>
  </div>
</div>

