<h2 class="tasks-title text-center">Editing task: "<%=@task.title%>"</h2>

<%= render partial: "task/error_message" %>
<div class="container">
    <div class="form-horizontal">
      <%= form_for( @task,url: task_update_path(@task), html: { method: :post }) do |f| %>
          <%=render partial:"task/form_task" ,locals:{f:f}%>
      <%end%>
    </div>
</div>


<div class="container">
  <%= link_to "< Back", task_show_path, class: "btn btn-default btn-back" %>
</div>