<h1>Change password</h1>


<div class="form-horizontal">

  <hr />
  <%= render partial: "layouts/error_message" %>
  <%= form_for( @user,url: user_update_password_path, html: { method: :post }) do |f| %>

      <div class="form-group">
        <%= f.label :password,class:"control-label col-md-2" %>
        <div class="col-md-10">
          <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation,class:"control-label col-md-2" %>
        <div class="col-md-10">
          <%= f.password_field :password_confirmation, class:"form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :current_password,class:"control-label col-md-2" %> <i>(we need your current password to confirm your changes)</i><br />
        <div class="col-md-10">
          <%= f.password_field :current_password, class:"form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <%= f.submit "Save",class:"btn btn-default" %>
        </div>
      </div>

  <% end%>
</div>


<div>
  <%= link_to "Back", :back %>
</div>