<div class="container-fluid main login-page">
  <h2 class="tasks-title text-center">Change password</h2>

  <%= form_for( @user,url: user_update_password_path, html: { method: :post }) do |f| %>
      <%= render partial: "layouts/error_message" %>

      <div class="field">
        <div class="control-label"><%= f.label :password, "New password" %></div>
        <div class="maybe-error">
          <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control" %>
        </div>
      </div>

        <div class="field">
          <div class="control-label"><%= f.label :password_confirmation%></div>
          <div class="maybe-error"><%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %></div>
        </div>

        <div class="field">
          <div class="control-label"><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i></div>
          <div class="maybe-error"><%= f.password_field :current_password, class:"form-control" %></div>
        </div>

        <div class="actions">
          <div class="submit-button text-center"><%= f.submit "Save", class: "btn btn-success" %></div>
        </div>
  <% end %>
</div>