<h2 class="tasks-title text-center">Users:</h2>

<table class="table table-striped table-hover users-table">
  <thead>
  <tr>
    <th>Avatar</th>
    <th>Name</th>
    <th>Email</th>
    <th>Controls</th>

  </tr>
  </thead>

  <tbody>
  <%@users.each do |user|%>
  <tr>

    <td>
      <div class="user-image"><%= gravatar_for user %></div>
    </td>
    <td><%=user.name%></td>
    <td><%=user.email%></td>
    <td class="user-controls">
     
      <%= link_to 'View User Tasks', task_show_user_path(id: user.id), {class:"page-scroll"}%>
      <%if current_user.has_role? :admin  %>
          | <%= link_to 'Edit User', user_edit_path(id: user.id), {class:"page-scroll"}%> |
          <%= link_to 'Delete User', user_destroy_path(id: user.id), class:"page-scroll",
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %>
      <%end%>

    </td>


  </tr>
  <% end %>
  </tbody>
</table>